@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.not-found-animation {
  animation: slideIn 2.5s ease-out forwards;
}
